/*body{
    background-color:#EAF6F6;
   }*/
body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color:#007bff;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

#a2 {
  color: #007bff; /* Use any color you like */
  text-decoration: none; /* Removes underline */
  font-weight: bold;
}
#a1{
   color: white; /* Use any color you like */
  text-decoration: none; /* Removes underline */
  font-weight: bold; 
}

a:hover {
  color: #0056b3; /* Darker shade on hover */
  text-decoration: underline;
}


section {
  margin-top: 20px;
}

h2 {
  color: #0056b3;
}

ul {
  list-style-type: square;
}

footer {
  margin-top: 40px;
  text-align: center;
}
